*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img {max-width:20%;}
nav{
    display: flex;
    height: 20px;
}

.hamburger{
}

.links{
    display: none;
}


nav div:target{
    display:block;
    
}




.title{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    font-size: 60px;
}

.subheading{
    color: aqua;
    font-size: 30px;
}

.cover{
    height: 400px;
    background-color: black;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50px;
    flex-wrap: wrap;
}

.blog-card{
    overflow: clip;
    background-color: green;
    height: 200px;
    width: 70%;
    margin: 15px;
}

.blog-title{
    background-color: red;
}

.blog-subheading{
    background-color: fuchsia;
}